################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScoreBoard/ScoreBoard/Debug/ScoreBoard.tlog
*.log
*.ipch
*.suo
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/ScoreBoard/.vs/ScoreBoard/v15/Browse.VC.opendb
/ScoreBoard/.vs/ScoreBoard/v15/Browse.VC.db
*.user
/.vs/slnx.sqlite
